<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
  <title>Flaskr</title>
</head>
<body>
  <div class="page">

    <h1>Flaskr</h1>

    <div class="matenav">
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>

    {% for message in get_flashed_messages() %}
      <div class="flash"></div>
    {% endfor %}
    {% block body %}{% endblock %}


  </div>

</body>
</html>
